@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to top, rgb(131, 101, 110), rgb(205, 164, 164));
  font-family: 'Poppins', sans-serif;
}

.header {
  
  top: 1rem;
  text-align: left;
  margin-left:1rem;
  width: 100%;
}

.logo{
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 6px rgba(128, 57, 66, 0.7); 

}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 500px;
  
}

.main-logo img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
}

/*botones crear, buscar, actualiza*/
.note-controls {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}


.note-controls button {
  font-size: 1.5rem;
  padding: 0.6rem 1.2rem;
  border-radius: 15px;
  border: none;
  font-weight: 500;
  color: white;
  transition: 0.3s ease;
}

.btn-primary { background-color: #d29393; border-radius: 15px;}
.btn-secondary { background-color: #a57d6e; }
.btn-info { background-color: #c9a9a6; }

.note-list {
  background-color: white;
  padding: 2rem;
  border-radius: 16px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  margin-top:3rem;
}

.note {
  background-color: #f5f2f2;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem !important;
  border: 1px solid #130202;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*fecha creacion */
.note .meta {
  font-size: 1.2rem;
  color: #999;
}

.note-actions button {
  background: none;
  border: none;
  font-size: rem;
  color: #a57d6e;
}

.note-actions button:hover {
  color: #d29393;
}

.note-list{
  background-color: rgb(69, 58, 58);
}

